html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}
@keyframes button-click-animation {
  from {
    background-color: initial;
  }
  to {
    background-color: lightgray;
  }
}
body {
  background: black;
  background-repeat: no-repeat;
  background-attachment: fixed; /* This can help with keeping the background fixed during scroll */
  background-size: cover;
  min-height: 100vh;
}
.displayResult {
  min-height: 190px;
  color: #fff;
  font-family: "SF Pro Display", sans-serif;
  font-size: 90px;
  font-style: normal;
  line-height: normal;
  display: flex;
  align-items: end;
  justify-content: end;
  padding: 0px 37px;
}
.buttons {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 14px;
  padding: 24px 14px;
  justify-content: center;
}
.actions {
  display: flex;
  padding: 24px 21px 23px 21px;
  justify-content: center;
  align-items: center;
  border-radius: 352px;
  background: var(--Calculator-grey, #a5a5a5);
  color: #000;
  text-align: center;
  font-family: "SF Pro Display", sans-serif;
  font-size: 34px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  width: 78px;
  height: 78px;
  border: 0px;
}
.actions:hover {
  display: flex;
  padding: 24px 21px 23px 21px;
  justify-content: center;
  align-items: center;
  border-radius: 352px;
  background: var(--Calculator-orange, #f2f2f2);
  color: #000;
  text-align: center;
  font-family: "SF Pro Display", sans-serif;
  font-size: 34px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  width: 78px;
  height: 78px;
  border: 0px;
  animation: button-click-animation 0.3s;
}

.number {
  display: flex;
  width: 78px;
  height: 78px;
  padding: 20px 0px;
  justify-content: center;
  align-items: center;
  border-radius: 352px;
  background: var(--Calculator-black, #333);
  color: #fff;
  text-align: center;
  font-family: "SF Pro Display", sans-serif;
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  border: 0px;
}
.operations {
  display: flex;
  width: 78px;
  height: 78px;
  padding: 12px 30px;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  border-radius: 352px;
  background: var(--Calculator-orange, #f1a33b);
  fill: var(--Calculator-orange, #f1a33b);
  color: #fff;
  text-align: center;
  font-family: "SF Pro Display", sans-serif;
  font-size: 48px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  border: 0px;
}
.zeroButton {
  display: flex;
  width: 170px;
  padding: 20px 130px 20px 35px;
  align-items: center;
  border-radius: 352px;
  background: var(--Calculator-black, #333);
  color: #fff;
  font-family: "SF Pro Display", sans-serif;
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  border: 0px;
}
.operationSelected {
  background-color: aqua;
  display: flex;
  width: 78px;
  height: 78px;
  padding: 12px 30px;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  border-radius: 352px;
  background: var(--Calculator-orange, #f2f2f2);
  fill: var(--Calculator-orange, #f2f2f2);
  color: #f1a33b;
  text-align: center;
  font-family: "SF Pro Display", sans-serif;
  font-size: 48px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  border: 0px;
  animation: button-click-animation 0.3s;
}
